.ant-layout {
	.ant-layout-header {
		background-color: #fff;
	}
	
	.ant-image {	
		float: left;
		height: 99%;
		
		img {
			height: 100%;
		}
	}
	
	.ant-card {
		margin-bottom: 20px;
		width: 100%;
		padding: 0 20px;
		
		.ant-card-head {
			border-bottom: 0;
			
			.ant-card-head-wrapper {
				text-align: center;
			}
		}
		
		.ant-card-body {
			.drop-down {
				    margin-left: 10px;
			}
			
			.report-btn {
				float: right;
			}
		}
	}
	
	.ant-table-title {
		text-align: center;
		background-color: #bfbfbf;
		padding: 5px;
	}
	
	thead.ant-table-thead tr {
		th {
			background-color: #778899;
			
			&.ant-table-column-has-sorters:hover {
				background-color: #778899;
			}
		}
	}
	
	.ant-table-body {
		&::-webkit-scrollbar {
			display: none;
		}
		
		.ant-table-tbody {
			cursor: pointer;
			
			& > tr:nth-child(2n) td {
				background-color: #f5f5f5;
			}
		}
	}
	
	.ant-table-filter-trigger-container:hover {
		background-color: #778899;
	}
	
	.ant-table-footer {
		text-align: center;
		font-weight: bold;
		color: #d9363e;
	}
}
